input{
  width:90%;
  margin-top: 0.5vw;
  height:2vw;
  border: 0.1vw solid black;
  margin-left: 2%;
  border-radius: 0.3vw;
  font-size: 1vw;
}
span{
  font-size: 1.3vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top:0.5vw;
}
text{
  font-size: 1.5vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top:0.5vw;
  border: 0.1vw solid black;
}
.subdiv_campaign{
  width: 30%;
  height: fit-content;
  background-color: #E8ECF1;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  padding: 0.7vw;
  border-radius: 0.5vw;
}
button{
  height: 3vw;
  width: fit-content;
  margin-top: 0.5vw;
}